.footer {
  padding: 70px 0 30px;
  background: #F6F6F8;
  &__subtitle{
    text-align: center;
  }
  &__line{
    border: 1px solid #E0E0E0;
    margin-bottom: 35px;
  }
  &__link{
    p{
      img{
        margin-right: 15px;
      }
      a{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;

        /* grey */

        color: #999999;
      }
    }
  }
  &__title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
    margin-bottom: 35px;
  }
  &__links{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    /* grey */

    color: #999999;
    img{
      margin-right: 15px;
    }
  }
  p {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    /* grey */

    color: #999999;
  }
}